// Define defaults for each variable.

$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$base-font-size:   16px !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;

$spacing-unit:     2.37vw !default;

$text-color:       #111 !default;
$background-color: #fdfdfd !default;
$brand-color:      #2a7ae2 !default;

$grey-color:       #828282 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark:  darken($grey-color, 25%) !default;

// Width of the content area
$content-width:    800px !default;

$on-palm:          600px !default;
$on-laptop:        800px !default;

// Rob's colours
$light-grey-1:       #ededed !default;
$black-2: #000 !default;

// Rob's fonts
$header-font: 'norwester', Arial, Helvetica, sans-serif;

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

// Import partials.
@import
  "minima/base",
  "minima/layout",
  "minima/syntax-highlighting"
;

@font-face {
  font-family: 'norwester';
  src: url('fonts/norwester_regular_macroman/norwester-webfont.eot'); /* IE9 Compat Modes */
  src: url('fonts/norwester_regular_macroman/norwester-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/norwester_regular_macroman/norwester-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('fonts/norwester_regular_macroman/norwester-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/norwester_regular_macroman/norwester-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}